@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body{
    background-image:#5E9078;
    height: 120vh;
    font-weight: bold;
    letter-spacing: 2px;
}
*{
    margin: 0px; padding: 0px; font-family: "Montserrat", sans-serif;
}
.main{
    background-image: white;
    height: auto;
    width: 650px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 44%;
    top: 55%;
}
.left{
    background-color: #92C6AD;
    width: 265px;
    height: 850px;
    float: left;
}
.right{
    width: 450px;
    float: left;
}
img {
    height: 245px;
    width: 200px;
    background-color: #92C6AD;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 60px;
}
.profile-image img{
    width: 200%;
    border-radius: 50%;
}
.box-1{
    position: relative;
}
.heading{
    background-color: #5E9078;
    padding: 10px;
    color: white;
    text-align: left;
    padding-left: 20px;
    margin-right: -15px;
}
.heading::after{
    content: '';
    position: absolute;
    width: 101px;
    height: 18px;
    background-color: #5E9078;
    left: 191px;
    top: 26px;
    transform: translate(56deg);
    z-index: -1;
}
.p1{
    padding: 10px 10px;
    font-size: 10px;
}
.icons1{
    font-size: 16px!important;
    padding-right: 10px!important;
    vertical-align: sub;
}
.Spanish-Native{
    width: 90%;
    background-color: white;
}
.English-C1{
    width: 90%;
    background-color: white;
}
.French-A1{
    width: 90%;
    background-color: white;
}
.Em{
    width: 90%;
    background-color: white;
}
.Pr{
    width: 90%;
    background-color: white;
}
.box-2{
    position: relative;
    width: 50%;
    height: auto;
    float: right;
}
.name-div{
    padding: 56px 0px 60px 400px;
    text-align: center;
    letter-spacing: 3px;
}
.name-div h1{
    margin-bottom: 10px;
}
.box-2{
    padding: 0px 50px;
    margin-top: 30px;
} 
.p2{
    font-size: 10px;
    font-weight: 300px;
    letter-spacing: 1px;
    word-spacing: 2px;
    line-height: 18px;
    margin-top: 5px;
    margin-right: 250px;
    text-align: justify;
}
h2{
    font-size: 16px;
    margin-bottom: 15px;
}
.p3{
    font-size: 13px;
    letter-spacing: 0px;
    word-spacing: 1px;
    margin-top: 10px;
}
.p3 span{
    color: #5E9078;
    padding-left: 20px;
}       