
/* Estilos base */
form {
    margin: 0 auto;
    width: 90%; /* Se ajusta al 90% del ancho disponible */
    max-width: 400px; /* Ancho máximo de 400px */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: all 0.3s ease; /* Animación de transición */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 20px;
}

label {
    display: block;
    width: 100%;
    text-align: left;
    font-weight: bold;
    color: #333;
    transition: all 0.3s ease; /* Animación de transición */
}

legend{
    color: #007bff;
}

input,
textarea,
select {
    font: 1em sans-serif;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-top: 5px;
    transition: all 0.3s ease; /* Animación de transición */
}

input:focus,
textarea:focus,
select:focus {
    border-color: #666;
}

textarea {
    height: 80px;
}

.button {
    text-align: center;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease; /* Animación de transición */
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Escala del botón al pasar el mouse */
}



